# IntelliJ IDEA
.idea/
*.iml
# maven version plugin
pom.xml.versionsBackup

# Gradle
.gradle/
build/
target/
out/

# Special exception for my test main class used during development
src/main/java/com/ecwid/consul/LocalTest.java

.DS_Store
